
.brand-green {
    background-color: #232D3F !important;
    color: white;
}

.brand-text-green {
    color: #005B41;
}

.brand-text-blue {
    color: #232D3F;
}

.brand-border {
    width: 50px; 
    border: 5px solid #008170;
}

.brand-secondary {
    color: #008170;
}

.custom-link {
    color: blue; /* Change to any color you like */
    text-decoration: underline; /* This will underline the link */
    font-weight: bold; /* Optional: Makes the link text bold */
    transition: color 0.3s; /* Optional: Smooth color transition effect on hover */
}

.custom-link:hover {
    color: #2c3e50; /* Change to any hover color you like */
}

.note {
    color: orange;
}

.warning {
    color: red;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.custom-ol {
    list-style-type: none;
    counter-reset: item;
}

.custom-ol > li::before {
    counter-increment: item;
    content: counter(item) ". ";
    font-weight: bold;
    font-size: 1.25em; 
}

.custom-ol > li {
    font-weight: normal;
}


.custom-ol2 {
    list-style-type: none;
    counter-reset: item;
    padding-left: 20px; /* Removes padding */
}

.custom-ol2 > li::before {
    counter-increment: item;
    content: counter(item) ".";
    font-weight: bold; 
    margin-right: 19px;
}

.custom-ol2 > li {
    font-weight: normal;
}

.fit-smaller {
    width: 50%;
}

/* Media query for screens 600px wide or smaller */
@media screen and (max-width: 600px) {
    .fit-smaller {
        width: 100%;
    }
}


#buttonContainer {
    position: fixed;
    top: 80%;
    right: calc(30% - 60px);
    transform: translateY(-80%);
    z-index: 99;
    display: flex;
    flex-direction: column;  /* Stack the children vertically */
    gap: 10px;  /* Space between the buttons */
    
}

#myBtn,
#myBtn2 {
    display: none;  /* Hidden by default */
    /* No need for fixed position here */
    border: none;  /* Remove borders */
    outline: none;  /* Remove outline */
    background-color: #005B41;  /* Set a background color */
    color: white;  /* Text color */
    cursor: pointer;  /* Add a mouse pointer on hover */
    width: 60px;  /* Set width */
    height: 60px;  /* Set height */
    border-radius: 50%;  /* Makes it round */
    text-align: center;  /* Center the content */
    font-size: 30px;  /* Increase font size */
    line-height: 60px;  /* Align the content vertically */
}

#myBtn::before {
    content: "\2BC5";  /* Unicode for the up arrow */
    font-family: Arial, sans-serif;
}

#myBtn2::before {
    content: "\2BC6";  /* Unicode for the down arrow */
    font-family: Arial, sans-serif;
}

#myBtn:hover,
#myBtn2:hover {
    background-color: #555;  /* Add a dark-grey background on hover */
}

/* Media query for screens with a max-width of 768px (usually tablets and below) */
@media only screen and (max-width: 1080px) {
    #buttonContainer {
        right: calc(10% - 60px);   /* adjust distance from the right side */
    }
}

/* Media query for screens with a max-width of 768px (usually tablets and below) */
@media only screen and (max-width: 768px) {
    #buttonContainer {
        right: 5px;   /* adjust distance from the right side */
        top: 90%;     /* move it further down */
        transform: translateY(-90%);  /* adjust transform to match the top value */
    }
}
